{% extends 'admin/_base.html' %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Edição de Membro</h1>

    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{{ url_for('autor_edit', obj_id=objeto.id) }}" autocomplete="off" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{% if objeto %}{{objeto.nome}}{% endif %}" required autofocus>
        </div>

        <div class="mb-3 form-check">
            <label for="imagem" class="form-label">Imagem</label>
            <input type="file" class="form-file-input" id="imagem" name="imagem">
        </div>

        <div class="mb-3">
            <label for="funcao" class="form-label">Tags</label>
            {% for tag in tags %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="tag" name="tag" value="{{tag.id}}" {% if tag.id in objeto.get_tags_list %} checked {% endif %}>
                    <label class="form-check-label" for="tag">{{tag.tag}}</label>
                </div>
            {% endfor %}              
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

        <a href="{{ url_for('autor_list') }}" class="btn btn-info">Cancelar</a>

    </form>
{% endblock %}