<div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
    <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
        <div class="h5 mb-2">Chat with us</div>
        <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
    </div>
    <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
        <div class="h5">Ask the community</div>
        <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
    </div>
    <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
        <div class="h5">Support center</div>
        <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
    </div>
    <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
        <div class="h5">Call us</div>
        <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
    </div>
</div>