<div class="col-lg-6 col-xl-4">
    <div class="card">
        <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
            <div class="mb-3">
                <span class="display-4 fw-bold">$49</span>
                <span class="text-muted">/ mo.</span>
            </div>
            <ul class="list-unstyled mb-4">
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    <strong>Unlimited users</strong>
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    5GB storage
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    Unlimited public projects
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    Community access
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    Unlimited private projects
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    Dedicated support
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    <strong>Unlimited</strong>
                    linked domains
                </li>
                <li class="text-muted">
                    <i class="bi bi-check text-primary"></i>
                    Monthly status reports
                </li>
            </ul>
            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
        </div>
    </div>
</div>