{% extends 'admin/_base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Membro</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">ID: {{ objeto.id }}</h6>
    </div>
    <div class="card-body">
        <div calss="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellscpacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Função</th>
                        <th>Senha</th>
                        <th>Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ objeto.nome }}</td>
                        <td>{{ objeto.email }}</td>
                        <td>{{ objeto.funcao }}</td>
                        <td>{{ objeto.senha|truncate(7) }}...</td>
                        <td><a href="{{ url_for('media', path='membro/' + objeto.imagem) }}" target="_blank"><img src="{{ url_for('media', path='membro/' + objeto.imagem) }}" width="7%" height="auto"/></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-right">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('membro_list') }}" class="btn btn-info">
                        Voltar
                    </a>
                </div>
                <div class="col">
                    <a href="#" data-url="{{ url_for('membro_delete', obj_id=objeto.id) }}" data-toggle="modal" data-target="#modal-delete" class="btn btn-danger">
                        Deletar
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('membro_edit', obj_id=objeto.id) }}" class="btn btn-primary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'admin/modals/delete.html' %}
{% endblock %}